:root {
    --background-color: #8800ff;
    --primary-color: #010b13;
    --secondary-color: #AD4DFF;
    --third-color: #428BB1;
    --text-color: #8500e4;
}

body::before {
    display: block;
    content: "";
    height: 50px;
}

.navBar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navlink-text {
    font-size: 20px;
    padding: 0px 50px;
}

.navlink-text:hover {
    color: var(--secondary-color) !important;
}

.search-button {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.carousel-main {
    height: 750px;
    object-fit: cover;
}

img {
    width: 100%;
    height: 750px;
}

.sign-up-form {
    background-color: var(--secondary-color);
}

.top-games {
    background-color: var(--primary-color);
}

.card-main {
    max-height: 80vh;
    background-image: linear-gradient(to right top, #8500ff, #9020ff, #9b31ff, #a440ff, #ad4dff);
    border: 5px solid var(--secondary-color);
}

.card-main:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* .card-image {
    width: 100%;
    height: min(350px, 40vh);
    max-height: 350px;
} */

#questions {
    background-color: var(--background-color);
}

@media (max-width: 768px) {
    .navlink-text {
        padding: 0px;
    }

    .carousel-main {
        min-height: 500px;
        max-height: 600px;
    }

    .top-games-container img {
        min-height: 500px;
        max-height: 600px;
    }

    .top-games-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) {
    .navlink-text:hover {
        transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    }
}

