@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    --background-color: #8800ff;
    --primary-color: #010b13;
    --secondary-color: #AD4DFF;
    --third-color: #428BB1;
    --text-color: #8500e4;
}

a {
  color: inherit;
    text-decoration: none;
}

a:hover {
  text-decoration:none; 
    cursor:pointer;
}